@media all and (max-width: 768px)
{
    #bouton-acces
    {
        position: absolute;
        top: 160px;
        width: 100%;
        margin: auto;
    }
    
    #banniere
    {
        height: 450px;
    }
    
    #img-banniere
    {
        height: 100%;
    }
    
    .saut-bouton-acces
    {
       margin-bottom: 10px; 
    }
}


@media all and (min-width: 768px)
{
    #bouton-acces
    {
        position: absolute;
        top: 450px;
        width: 100%;
        margin: auto;
    }
    
    .saut-bouton-acces
    {
       margin-bottom: 50px; 
    }
}

#bouton-acces a
{
   background-color: #02a5a2FF !important;
   border-color: #02a5a2FF !important;
}

.navbar-default {
    background-color: #5cb85c;
    border-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 1.2em;
    margin-bottom: -1px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #5cb85c;
  background-color: #fff;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #5cb85c;
  background-color: #fff;
}

.navbar-nav .open .dropdown-menu {
    background-color: #5cb85c;
  }

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
}

.navbar-default .navbar-nav .open .dropdown-menu > li :hover{
	color: #5cb85c;
	background-color: #fff;
}

.navbar-nav {
  margin: 12px -15px;
}

.navbar-brand {
  float: right;
  margin-top: -10px;
  font-size: 18px;
  line-height: 20px;
}

.navbar-header {
    float: right;
}

.succes
{
	background-color: green;
	color: white;
}

.echec
{
	background-color: red;
	color: white;
}

.libelle
{
	font-weight: bold;
}

.valeur
{
	font-style: italic;
}

.total-versement
{
	font-weight: bold;
	font-size: 1.3em;
}

#titre_accueil
{
	text-align: center;
}

#pied
{
	text-align: center;
	background-color: #5cb85c;
}

.saut
{
    margin-bottom: 20px;
}

#slogan_accueil
{
	border: 1px solid #5cb85c;
	font-size: 2em;
}

.form-control-perso {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control-perso:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control-perso::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control-perso:-ms-input-placeholder {
  color: #999;
}
.form-control-perso::-webkit-input-placeholder {
  color: #999;
}
.form-control-perso::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control-perso[disabled],
.form-control-perso[readonly],
fieldset[disabled] .form-control-perso {
  background-color: #eee;
  opacity: 1;
}
.form-control-perso[disabled],
fieldset[disabled] .form-control-perso {
  cursor: not-allowed;
}
textarea.form-control-perso {
  height: auto;
}

.montant
{
    text-align: right;
}